<a href="https://colab.research.google.com/github/SueHolder/OVFAcademy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  !pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip
#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer
! kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset 
! unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle.json
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 15.4MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv
Downloading large-boatyacht-pricing-dataset.zip to /content
 80% 5.00M/6.22M [00:00<00:00, 13.9MB/s]
100% 6.22M/6.22M [00:00<00:00, 17.1MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [ ]:
import pandas as pd
df=pd.read_csv('/content/boat_dataset.csv', encoding='latin1')
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,NaN,226,NaN,Possibility to arrange it with a complete luxu...,NaN
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany Â» BÃ¶nningstedt,NaN,75,"In den Farben weiÃ oder grÃ¼n lieferbar.,,2 a...",NaN,NaN
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,NaN,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark Â» Svendborg,NaN,64,"MORSOM OG LETKÃRT KVALITETSBÃ D!,Nye Pioner 1...",NaN,NaN
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee Â» VÃ¤stra FrÃ¶lunda,04.07.2020,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C..."

In [ ]:
# Focus on list

cities = ['paris', 'Zurich', 'Rome', 'Berlin', 'London']

type(cities)

#Python is 0 based
cities[-3]

cities[2] = 'milan'
print(cities)
cities.insert(2, 'HK')
print(cities)

cities.append('Rio')
print(cities)

cities.insert(-1,'nice')
print(cities)

cities.remove('paris') # Remove function, will remove ONLY the first element to remove
print(cities)

cities.insert(2, 100)
print(cities)

['paris', 'Zurich', 'milan', 'Berlin', 'London']
['paris', 'Zurich', 'HK', 'milan', 'Berlin', 'London']
['paris', 'Zurich', 'HK', 'milan', 'Berlin', 'London', 'Rio']
['paris', 'Zurich', 'HK', 'milan', 'Berlin', 'London', 'nice', 'Rio']
['Zurich', 'HK', 'milan', 'Berlin', 'London', 'nice', 'Rio']
['Zurich', 'HK', 100, 'milan', 'Berlin', 'London', 'nice', 'Rio']

In [ ]:
#Python is 0 based
cities[-3]

cities[2] = 'milan'
print(cities)
cities.insert(2, 'HK')
print(cities)

cities.append('Rio')
print(cities)

cities.insert(-1,'nice')
print(cities)

cities.insert(2, 100)
print(cities)

cities.insert(7,'100')
print(cities)

['Zurich', 'HK', 'milan', 'milan', 'milan', 'Berlin', 'London', 'nice', 'Rio', 'nice', 'Rio']
['Zurich', 'HK', 'HK', 'milan', 'milan', 'milan', 'Berlin', 'London', 'nice', 'Rio', 'nice', 'Rio']
['Zurich', 'HK', 'HK', 'milan', 'milan', 'milan', 'Berlin', 'London', 'nice', 'Rio', 'nice', 'Rio', 'Rio']
['Zurich', 'HK', 'HK', 'milan', 'milan', 'milan', 'Berlin', 'London', 'nice', 'Rio', 'nice', 'Rio', 'nice', 'Rio']
['Zurich', 'HK', 100, 'HK', 'milan', 'milan', 'milan', 'Berlin', 'London', 'nice', 'Rio', 'nice', 'Rio', 'nice', 'Rio']
['Zurich', 'HK', 100, 'HK', 'milan', 'milan', 'milan', '100', 'Berlin', 'London', 'nice', 'Rio', 'nice', 'Rio', 'nice', 'Rio']

In [ ]:
new_list = [1,3,5,2]
new_list[1] -33
cities = cities + new_list
print(cities)

['Zurich', 'HK', 100, 'HK', 'milan', 'milan', 'milan', '100', 'Berlin', 'London', 'nice', 'Rio', 'nice', 'Rio', 'nice', 'Rio', 1, 3, 5, 2, 1, 3, 5, 2]

In [ ]:
val = 0
if val>0:
  print('The value is positive')

elif val<0:
  print('The value is negative')

elif val<-10:
  print('Very low')

else:
  print('The value equals 0')

The value equals 0

In [ ]:
if 7 not in [0, 1, 2, 3, 4]:
  print('Indeed')

Indeed

In [ ]:
#@title Default title text
# for loop
fruits = ['apple','pear', 'cherry']
for i in fruits:
  print(i)

apple
pear
cherry

In [ ]:
list_of_list = [['a', 'b', 'c'], [1, 2, 3]]


for sub_list in list_of_list:
  print("We treat the list: ", sub_list)
  
  
  for element in sub_list:
    print('We display the element: ', element)

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
# Functions
def awesome_sue_function_to_calculate_area(a=3, b=7):
  '''
Function in order to calculate the area of a rectangle
Parameters;
a:a represents the length
b:b represents the widuth
  '''
  my_area = a*b
  return = my_area

In [ ]:
# We will use it in order to delete all the element of a list having a particular value:
last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # Let's delete all the 888

valueToBeRemoved = 888
last_list = [element for element in last_list if element != valueToBeRemoved]
last_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## **Data Manipulation in Python**

In [ ]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50
df = pd.read_csv('/content/boat_dataset.csv', encoding='latin1')

In [ ]:
#df.head() # Problem of encoding for some features

In [ ]:
df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")
#df.head()

In [ ]:
## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [ ]:
df.sample(n=5, random_state=893717398)

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
10342,"EUR 3.500,-",Power Boats,Sport Boat,Fletcher power boats,Bravo,NaN,"Used boat,Unleaded",1992.0,good,4.27 m,1.60 m,NaN,270 kg,C - Inshore,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mariner 40 hp,1 x 40 HP / 29 kW,30 l,Unleaded,10 h,NaN,NaN,Hungary » Ebes,23.07.2020,NaN,Trailer comes with two new tyres and new wheel...,NaN,"Battery,Fire Extinguisher,Full Enclosure,Speed..."
10047,"CHF 14.000,-",Power Boats,Working Boat,Armee Suisse power boats,Schiebeboot,NaN,Used boat,2002.0,good,5.69 m,2.10 m,NaN,NaN,NaN,6.0,NaN,NaN,blue weiss,NaN,NaN,NaN,GRP,NaN,NaN,NaN,Torqeedo,1 x 5 HP / 3.7 kW,NaN,NaN,NaN,NaN,NaN,Switzerland » Sihlsee » Einsiedeln,NaN,217,NaN,It is also possible to purchase the boat witho...,"Battery,Fischkasten,Navigation lights,Shore Co..."
2890,"EUR 350.000,-",Power Boats,Flybridge,Astondoa power boats,ASTONDOA 68 GLX,NaN,"Used boat,Diesel",1995.0,NaN,20.00 m,5.00 m,1.00 m,NaN,NaN,NaN,4.0,6.0,Blue,NaN,NaN,NaN,PVC,NaN,NaN,NaN,MAN,2 x 1000 HP / 735 kW,5200 l,Diesel,NaN,NaN,NaN,"Spain » Alicante (Alacant), Espagne",NaN,118,Annual maintenance with a professional company...,NaN,"Air Conditioning,Autopilot,Battery Charger,Bil..."
12,"CHF 3.500,-",Power Boats,Fishing Boat,Terhi power boats,OY 440,NaN,"Used boat,Electric",1987.0,good,4.35 m,1.75 m,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,Yamaha,1 x 1 HP / 0.7 kW,NaN,Electric,NaN,NaN,NaN,Switzerland » Seengen,06.07.2020,239,NaN,The price includes the motor ship Terhi OY 440...,Battery
2714,"EUR 275.000,-",Power Boats,Cabin Boat,Nimbus power boats,305 Coupe - Lieferbar im Oktober- 16%,NaN,"new boat on order,Diesel",2020.0,new,9.85 m,3.25 m,0.90 m,NaN,B - Offshore,8.0,2.0,6.0,blue blue,1.0,NaN,1.0,GRP,150 l,80 l,Inboard with Shaft,Volvo Penta D3-220 PS,NaN,250 l,Diesel,NaN,NaN,NaN,Sweden » In Produktion,NaN,212,"Production for October.,,Extra equipment :,,Vo...",NaN,NaN

In [ ]:
df.shape # Provides the dimensions of the database

(10344, 38)

In [ ]:
df.dtypes # Display the type of each features

Price                           object
Category                        object
Boat Type                       object
Manufacturer                    object
Model                           object
Boat name                       object
Type                            object
Year Built                     float64
Condition                       object
Length                          object
Width                           object
Depth                           object
Displacement                    object
CE Design Category              object
Cert Number of People          float64
Number of Cabins               float64
Number of beds                 float64
Hull Color                      object
Number of Toilets              float64
Number of Bathrooms            float64
Number of Showers              float64
Material                        object
Fresh Water Cap                 object
Holding Tank                    object
Propulsion                      object
Engine                          object
Engine Performance              object
Fuel Capacity                   object
Fuel Type                       object
Engine Hours                    object
Max Speed                       object
Cruising Speed                  object
Location                        object
Advertisement Date              object
Number of views last 7 days     object
Comments                        object
Additional Comments             object
Equipment                       object
dtype: object

In [ ]:
df.describe() # To have some descriptive statistics

,Year Built,Cert Number of People,Number of Cabins,Number of beds,Number of Toilets,Number of Bathrooms,Number of Showers
count,9777.000000,3597.000000,6475.000000,6407.000000,2156.000000,463.000000,1941.000000
mean,2004.830725,9.355296,2.149035,4.345716,1.763915,1.289417,1.550747
std,16.309045,24.037107,2.145005,3.974223,2.076365,0.653360,0.930096
min,1885.000000,1.000000,-1.000000,-23.000000,1.000000,1.000000,1.000000
25%,1999.000000,7.000000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,2008.000000,8.000000,2.000000,4.000000,1.000000,1.000000,1.000000
75%,2017.000000,10.000000,3.000000,6.000000,2.000000,1.000000,2.000000
max,2021.000000,1200.000000,96.000000,266.000000,84.000000,6.000000,10.000000

In [ ]:
df.info() # Same as dtypes + more information such as the number of non missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10344 entries, 0 to 10343
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10344 non-null  object
 1   Category                     10344 non-null  object
 2   Boat Type                    10344 non-null  object
 3   Manufacturer                 8954 non-null   object
 4   Model                        10341 non-null  object
 5   Boat name                    1313 non-null   object
 6   Type                         10339 non-null  object
 7   Year Built                   9777 non-null   float64
 8   Condition                    3375 non-null   object
 9   Length                       10334 non-null  object
 10  Width                        10281 non-null  object
 11  Depth                        7234 non-null   object
 12  Displacement                 5051 non-null   object
 13  CE Design Category           782 non-null    object
 14  Cert Number of People        3597 non-null   float64
 15  Number of Cabins             6475 non-null   float64
 16  Number of beds               6407 non-null   float64
 17  Hull Color                   3311 non-null   object
 18  Number of Toilets            2156 non-null   float64
 19  Number of Bathrooms          463 non-null    float64
 20  Number of Showers            1941 non-null   float64
 21  Material                     8512 non-null   object
 22  Fresh Water Cap              2118 non-null   object
 23  Holding Tank                 819 non-null    object
 24  Propulsion                   3291 non-null   object
 25  Engine                       9535 non-null   object
 26  Engine Performance           8063 non-null   object
 27  Fuel Capacity                6814 non-null   object
 28  Fuel Type                    8022 non-null   object
 29  Engine Hours                 5133 non-null   object
 30  Max Speed                    892 non-null    object
 31  Cruising Speed               547 non-null    object
 32  Location                     10301 non-null  object
 33  Advertisement Date           870 non-null    object
 34  Number of views last 7 days  9981 non-null   object
 35  Comments                     7078 non-null   object
 36  Additional Comments          2454 non-null   object
 37  Equipment                    6174 non-null   object
dtypes: float64(7), object(31)
memory usage: 3.0+ MB

In [ ]:
len(df)

10344

In [ ]:
df['Fuel Type'].unique()

array([nan, 'Unleaded', 'Electric', 'Diesel', 'Gas', 'Hybrid', 'Propane'],
      dtype=object)

In [ ]:
### Now let's do some data manipulation
# Select a column:
df['Year Built'].head(2) # If you select 1 feature: dataframe['name_feature']
# Select multiple columns
df[['Year Built', 'Model']].head(2) 
# If you select 2 or more features: dataframe[['feature1', 'feature2']]

   Year Built    Model
0      2017.0  CAP 400
1      2020.0    400 C

In [ ]:
# Now, let's do some filters -> select lines from a condition
mask1 = df['Year Built'] >2000 # As we saw in the Python basics part, df['Year Built'] >2000
# refers to a question, does the value (here, each line) is >2000 ; True or False
# You can display mask1 to see how it is composed, you will see it is a list of boolean.
df[mask1].min() # Then, we integreate the list of boulean in: dataframe[list_boolean]
# The output is only composed by values >2000 that we can check with the .min() function.

# You are not obliged to create a mask, you can directly write the condition within:
df[df['Year Built'] >2000]

# You can check that indeed the output are exactly the same:
df[mask1] == df[df['Year Built'] >2000]

# If you want to select a part of the population between 2 values:
mask2 = df['Year Built'].between(2001,2005)
# https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

df[mask2].min()
df[mask2]['Year Built'].min()
df[mask2][['Year Built', 'Model']].min()

# If you want to do several conditions, the '&' means 'and' ; the '|' means 'or'

# Here I want the Year Built <= 2001 or >= 2011 , and sulphates < 0.7301
mask3 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2))
df[mask3].describe()

# Keep in mind, you have to associate line of script to a variable/object however it
# is not saved in memory
len(df)
df2 = df[mask3]
len(df2)
del(df2)

# When you do a mask, it is not only on numerical features but as well on categoricals:
mask5 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type']=='Diesel'))
df[mask5]
# On this example, I want to focus only on the category Diesel so it is quick to write.
# However it is not always the case and you can filter through a list:

list_cat_to_keep = ['Diesel', 'Electric']
mask6 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'].isin(list_cat_to_keep)))
df[mask6]
# dataframe['feature'].isin(list_specified) creates the list (the pandas Series to be precise) of boolean

# To finish, you would like to have all the element of a feature except those that you specify in a list.
# Let's say, you want to analyse all the Fuel Type that are not in the list (here the cat=['Diesel', 'Electric'])
# You can use: ~dataframe['feature'].isin(list_specified) // The '~' means not isin:
mask7 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2) & (~df['Fuel Type'].isin(list_cat_to_keep)))
df[mask7] #As you see, you only have the category 'B' of citric_cat.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
22,"EUR 4.000,-",Power Boats,Cabin Boat,NaN,Backdecker,NaN,"Used boat,Unleaded",2011.0,good,6.37 m,2.31 m,0.45 m,800 kg,NaN,3.0,2.0,3.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Mercury,1 x 5 HP / 3.7 kW,54 l,Unleaded,9 h,NaN,NaN,Germany » Bayern » Forchheim/Ofr.,07.07.2020,330,NaN,NaN,Swim Ladder
40,"CHF 3.800,-",Power Boats,Cabin Boat,Draco power boats,2100,NaN,"Used boat,Unleaded",1980.0,well-groomed,6.20 m,2.45 m,0.60 m,1'450 kg,NaN,7.0,1.0,1.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser/MCM 470,1 x 170 HP / 125 kW,NaN,Unleaded,1130 h,NaN,NaN,Switzerland » Walensee » Walenstadt,13.07.2020,1'804,NaN,-Allround boat for the whole family in good co...,"Anchor,Battery,Bilge Pump,Bilge pump,Bimini To..."
41,"CHF 3.800,-",Power Boats,Fishing Boat,Hensa power boats,De Luxe Combi,NaN,"Used boat,Unleaded",1974.0,well-groomed,5.40 m,1.67 m,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,Plastic,NaN,NaN,"Outboard, four-stroke",Suzuki DF6AL,1 x 6 HP / 4.4 kW,12 l,Unleaded,3 h,NaN,NaN,Switzerland » Sihlsee,20.07.2020,849,NaN,"Motorboat:,Hensa De Luxe Combi born 1974,Lengt...",Anchor
67,"CHF 7.000,-",Power Boats,Sport Boat,Nuova power boats,Fiberglass / Winner 18,NaN,"Used boat,Unleaded",1986.0,good,6.02 m,2.37 m,NaN,NaN,C - Inshore,6.0,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser,1 x 205 HP / 151 kW,100 l,Unleaded,705 h,NaN,NaN,Switzerland » Bielersee » Kleinboothafen Biel,23.07.2020,NaN,NaN,NaN,"Anchor,Battery,Bilge Pump,Compass,Fire Extingu..."
76,"CHF 7.000,-",Power Boats,Cabin Boat,Fjord power boats,Weekender 24,NaN,"Used boat,Unleaded",1980.0,to be done up,7.26 m,2.90 m,1.00 m,2'800 kg,D - Sheltered waters,8.0,1.0,2.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,Sterndrive,Volvo Penta 260A,1 x 260 HP / 191 kW,250 l,Unleaded,1593 h,NaN,NaN,Switzerland » Lake Geneva » Roche,29.06.2020,866,NaN,"Boat in good condition, engine at end of life....","Anchor,Battery,Battery Charger,Bilge Pump,Cock..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10303,"EUR 5.900,-",Power Boats,Cabin Boat,NaN,Family Boat Family 500,NaN,"new boat from stock,Unleaded",1988.0,NaN,5.00 m,2.00 m,NaN,450 kg,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mercury 25ML,1 x 25 HP / 18 kW,NaN,Unleaded,NaN,NaN,NaN,"Italy » peschiera borromeo, Lombardia",NaN,147,"pilot boat made of fibreglass reinforced, new,...",NaN,NaN
10307,"EUR 5.900,-",Power Boats,Sport Boat,Kelt power boats,KELT 485 FC,NaN,"Used boat,Unleaded",1996.0,NaN,4.90 m,1.98 m,NaN,NaN,NaN,NaN,1.0,NaN,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,HONDA,1 x 50 HP / 37 kW,NaN,Unleaded,320 h,NaN,NaN,"France » LA GRANDE MOTTE, France",NaN,149,"OMC 485 FC (1999) - HONDA 50 CV (2006/320H),,B...",NaN,"Depth Instrument,Mooring Cover,Swim Ladder"
10308,"EUR 5.900,-",Power Boats,Cabin Boat,NaN,Familienboot,NaN,"Used boat,Unleaded",1965.0,good,8.30 m,2.50 m,0.60 m,2'000 kg,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,Wood,100 l,NaN,Sterndrive,Volvo AQ Benziner,1 x 110 HP / 81 kW,400 l,Unleaded,70 h,NaN,NaN,Germany » Aller » Celle,22.07.2020,NaN,NaN,"Family boat, unique, built in 1965, owned sinc...","Anchor,Battery,Fire Extinguisher,Navigation li..."
10315,"EUR 4.990,-",Power Boats,Cabin Boat,NaN,Kajütboot mit 40 PS Suzuki - Selbstmisch,Kajütboot mit 40 PS Suzuki - Sel,Unleaded,1987.0,NaN,6.50 m,2.50 m,0.60 m,1 kg,NaN,NaN,1.0,2.0,weiss,NaN,NaN,NaN,GRP,NaN,NaN,NaN,Suzuki,1 x 40 HP / 29 kW,NaN,Unleaded,NaN,NaN,NaN,Germany » Verkaufshafen Brandenburg-Plaue,NaN,190,NaN,NaN,NaN
10320,"EUR 4.900,-",Power Boats,Sport Boat,Rio Iberica power boats,650 OPEN,NaN,"Used boat,Unleaded",1995.0,used,6.40 m,2.32 m,0.41 m,2200 kg,NaN,7.0,1.0,1.0,white,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser MCM 4.3 LX One,1 x 198 HP / 146 kW,NaN,Unleaded,NaN,NaN,NaN,Italy » Lombardia - Trentino Alto Adige » Moni...,NaN,206,"Zustand: vorwiegend Süßwasser,Beschreibung: Mo...",NaN,"Anchor,Cockpit Table,Mooring Cover,Radio,Swim ..."

In [ ]:
# One of the most useful function in order to do some counts: value_counts()
df['Fuel Type'].value_counts()
df['Fuel Type'].value_counts(dropna=False)
df['Fuel Type'].value_counts(True)
np.round(df['Fuel Type'].value_counts(True, dropna=False)*100, 2)

Diesel      45.90
Unleaded    30.93
NaN         22.45
Electric     0.54
Gas          0.15
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

### **Data cleaning**

In [ ]:
# Need to parse the date
# For the moment, python understand Advertisement Date as a chain of characters
# You need to tell him that this is a Date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format="%Y-%m-%d")

In [ ]:
df['Advertisement Date'].head()

In [ ]:
df['Length'].unique()
df['Engine Hours'].unique()
df['Fresh Water Cap'].unique()

In [ ]:
# Delete the chain ' m'
df['Length'] = df['Length'].str.rstrip(' m')

# Convert Series in numeric
df['Length'] = pd.to_numeric(df['Length'])

df['Length'].head()

In [ ]:
def format_series(series, char):
    
    new_series = series.str.rstrip(char)
    new_series = pd.to_numeric(new_series)
    
    return new_series

In [ ]:
for col in ['Width', 'Depth']:
    df[col] = format_series(df[col], ' m')

df["Engine Hours"] = format_series(df["Engine Hours"], ' h')

for col in ['Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']:
    df[col] = format_series(df[col], ' l')
    
df[['Length', 'Width', 'Depth']].head()

df = df.rename(columns={'Length':'Length (m)', 'Width':'Width (m)', 'Depth':'Depth (m)',
                        'Fresh Water Cap':'Fresh Water Cap (l)', 'Holding Tank':'Holding Tank (l)', 'Fuel Capacity':'Fuel Capacity (l)'})

In [ ]:
# Let's see if we have constant features
col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes

for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n")

In [ ]:
df = df.drop(columns='Category') # Category has just one category

In [ ]:
# Let's delete the features that we can't use:
list_col_to_delete_part1 = ["Displacement", "Number of views last 7 days", "Comments", "Additional Comments"]

df.drop(columns = list_col_to_delete_part1, inplace = True)

In [ ]:
# Now let's split the data in 2 parts for the moment:
# train_val & test
# Split will be done on a temporal basis
df.set_index(['Advertisement Date']).resample('M').size()

In [ ]:
# Let's have Train & Validation for the data of 2020 and Test for the data of 2021
train_val = df[df['Advertisement Date'] < '2021-01-01'].reset_index(drop=True)

# Création du test
test = df[df['Advertisement Date'] >= '2021-01-01'].reset_index(drop=True)

In [ ]:
train_val.duplicated(keep=False)

In [ ]:
print(f'The database has {train_val[train_val.duplicated(keep=False)].shape[0]} true duplicates')

Now let's identify the false duplicates. In general we have a unique ID for a client, given that it is not the case in this databse, we will consider that an observation is unique if the observation are the same for those 5 features: ['Model', 'Type', 'Year Built','Location', 'Equipment']

In [ ]:
# 5 features to represents a unique boat.
features_analyze_duplicates = ['Model', 'Type', 'Year Built','Location', 'Equipment']

# sort the features for a better display of the false duplicates
cols_sort = features_analyze_duplicates + [col for col in train_val.columns if col not in features_analyze_duplicates]

# false duplicates
train_val[train_val.duplicated(subset = features_analyze_duplicates, keep=False)][cols_sort].sort_values(by='Model')[:10]

The first 4 lines are duplicated, they represents the same boat. However in this database the price is changing. Keep in mind that in some database all values of features could change / evolve.

Given the fact that we are trying to predict the price of boats given their characteristics, we could take the most recent price, we could take a random price within the existing ones, here, we will use the average price.

The problem is that the Price is not in the same currency and it is not in a numerical features so we need to transform it.

In [ ]:
train_val['Price'].unique()

In [ ]:
# First, delete the price having the value `Price on request`
train_val = train_val[train_val['Price'] != 'Price on request']

In [ ]:
# Create a conversion table
create_change = {'Currency_A': ['EUR', 'GBP', 'DKK', 'SEK', 'USD', 'CHF'], 
               'Currency_B': ['CHF', 'CHF', 'CHF', 'CHF', 'CHF', 'CHF'], 
               'Change': [1.05, 1.24, 0.14, 0.11, 0.92, 1]}

change = pd.DataFrame(data=create_change)
change

In [ ]:
dict_change = dict(zip(change.iloc[:,0], change.iloc[:,2]))
dict_change

In [ ]:
data_part = initial_price_feature.str.partition(' ')         # exemple : EUR 3.490,-  -> ('EUR', ' ', '3.490,-')
    
    # Remplace '£' par 'GBP' pour le dictionnaire de change
data_part[0] = data_part[0].str.replace('£', 'GBP')          # data_part[0] = première colonne du DataFrame qui stock la première valeur des tuples
    
    # supprime le '.' qui sépare les milliers dans le prix        
data_part[2] = data_part[2].str.replace('.', '')             # data_part[2] = troisième colonne du DataFrame qui stock la dernière valeur des tuples
    
    # supprime le ',-' pour obtenir un prix
data_part[2] = data_part[2].str.replace(',-', '')
    
    # Converti la colonne en float pour pouvoir faire la conversion
data_part[2] = data_part[2].astype(float, errors = 'raise')
    
    # Convertion du prix
new_price = data_part.apply(lambda x: dict_change[x[0]] * x[2], axis=1)